.NavBar {
    background-color: Black;
    width: 1520px;
    height: 100px;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    box-sizing: border-box;
}

.NavHome{
    Width: 400px;
    height: 40px;
    padding-top: 20px;
    background: black;
    float: left;
    transition: all .2s ease-in;
}

.NavHome:hover{
    background: white;
}

.NavPassword{
    Width: 400px;
    height: 40px;
    padding-top: 20px;
    background: black;
    transition: all .2s ease-in;
}

.NavPassword:hover {
    background: white;
}

.NavAbout{
    Width: 400px;
    height: 40px;
    padding-top: 20px;
    background: black;
    float: right;
    transition: all .2s ease-in;
}

.NavAbout:hover {
    background: white;
}

.Main{
    background-color: burlywood;
    width: 1520px;
    height: 550px;
    padding-top: 50px;
}

.LeftCriteria{
    height: 300px;
    width: 760px;
    float:left;
    background-color: burlywood;
    padding-top: 20px;
    box-sizing: border-box;
}

.RightCriteria{
    height: 300px;
    width: 760px;
    float: right;
    background-color: burlywood;
    padding-top: 20px;
    box-sizing: border-box;
}

.CriteriaOne{
    width:500px;
    Height: 50px;
    padding-top: 25px;
    background-color: burlywood;
}

.CriteriaTwo{
    width:500px;
    Height: 50px;
    padding-top: 25px;
    background-color: burlywood;
}

.CriteriaThree{
    width:500px;
    Height: 50px;
    padding-top: 25px;
    background-color: burlywood;
}

.CriteriaFour{
    width:500px;
    Height: 50px;
    padding-top: 25px;
    background-color: burlywood;
}

.CriteriaFive{
    width:500px;
    Height: 50px;
    padding-top: 25px;
    background-color: burlywood;
}

.CriteriaSix{
    width:500px;
    Height: 50px;
    padding-top: 25px;
    background-color: burlywood;
}

.body {
    background-color: burlywood;
}