.NavBar {
    background-color: Black;
    width: 1520px;
    height: 100px;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    box-sizing: border-box;
}

.NavHome{
    Width: 400px;
    height: 60px;
    background: red;
    float: left;
    transition: all .2s ease-in;
}

.NavHome:hover{
    background: pink;
}

.NavPassword{
    Width: 400px;
    height: 60px;
    background: red;
}

.NavAbout{
    Width: 400px;
    height: 60px;
    background: red;
    float: right;
}

.Main{
    background-color: #ffda66;
    width: 1520px;
    height: 600px;
}

.PasswordTextArea{
    padding-top: 30px;
}

.LeftCriteria{
    height: 300px;
    width: 760px;
    float:left;
    background-color: blue;
    padding-top: 20px;
    box-sizing: border-box;
}

.RightCriteria{
    height: 300px;
    width: 760px;
    float: right;
    background-color: green;
    padding-top: 20px;
    box-sizing: border-box;
}

.CriteriaOne{
    width:500px;
    Height: 75px;
    background-color: deeppink;
}

.CriteriaTwo{
    width:500px;
    Height: 75px;
    background-color: deeppink;
}

.CriteriaThree{
    width:500px;
    Height: 75px;
    background-color: deeppink;
}

.CriteriaFour{
    width:500px;
    Height: 75px;
    background-color: deeppink;
}

.CriteriaFive{
    width:500px;
    Height: 75px;
    background-color: deeppink;
}

.CriteriaSix{
    width:500px;
    Height: 75px;
    background-color: deeppink;
}

.body {
    background-color: burlywood;
}